body {
    color: #252525;
    position: relative;
    padding: 0;
    margin: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

#bar {
    position: relative;
    width: 0px;
    height: 5px;
    background: orange;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

label.mobile_menu span {
    margin-left: 10px;
    color: white;
    display: none;
}

.nav {

    font-family: 'Orienta', sans-serif;
    font-weight: 400;
    /* 400 thinner */
    font-size: 13px;
    line-height: 13px;


    position: relative;
    padding: 0 0 0 4px;
    /* Fix for inline-block spacing*/
    margin: 0;


    background-color: #1abc9c;
}

.nav a,
.nav a:link,
.nav a:visited,
.nav a:hover,
.nav a:focus,
span {
    color: #fff;
    text-decoration: none;
}

.nav > li {
    display: inline-block;
    text-align: center;
    margin-left: -4px;
    /* For the inline-block spacing */
}

.nav > li > a {
    padding: 20px 18px;
    display: block;
}

.nav > li:hover > a {
    color: #fff;
}

.nav > li:hover {
    background-color: #16a085;
}



.nav > li > ul {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    list-style: none;
    top: 53px;
    background-color: #16a085;
    width: 200px;
    text-align: left;
    margin-top: 30px;
    padding: 0px;
    z-index: 99;
}


.nav > li:hover > ul {
    opacity: 1;
    visibility: visible;
    margin-top: 0px;
}


.nav li > ul li {
    font-size: 11px;
    position: relative;
    display: block;
    padding: 15px 10px;
}

.nav > li > ul li:hover {
    background-color: #006191;
}

.nav ul li:hover > a {
    color: white;
}

.nav > li > ul li ul li:hover {
    background-color: #004b6f;
}

input#mobile_menu {
    display: none;
}

.nav > li > ul li ul li ul {
    background-color: #004b6f;
}

.nav > li > ul li ul li ul li:hover {
    background-color: #00344d;
}



.nav > li > .fulldrop {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    list-style: none;
    top: 53px;
    left: 0px;
    background-color: #16a085;
    width: 100%;
    min-height: 100px;
    text-align: left;
    margin-top: 30px;
    padding: 0;
    z-index: 99;
    overflow: hidden;
}


.nav > li:hover .fulldrop {
    opacity: 1;
    visibility: visible;
    margin-top: 0px;
}

.nav ul li:hover:after {
    color: white;
}

.nav > li:hover .coldrop {
    opacity: 1;
    visibility: visible;
    margin-top: 0px;
}

.nav .coldrop .column {
    width: 130px;
    margin: 0 9px;
}

.nav .column {
    width: 14.1%;
    float: left;
    color: white;
    margin: 10px 20px;
}

.nav .column ul {
    padding: 0;
    margin: 0;
}

.nav .column ul li {
    padding: 0;
    list-style: none;
    font-size: 13px;

}

.nav .column h3 {
    font-size: 14px;
    padding: 14px 0;
    font-weight: 400;
    margin: 5px 0 5px 0;
}

.nav .column ul li a {
    width: 150px;
    display: block;
    padding: 0 0 15px 0;
}

Arrows .nav > li.dropdown > a:after {
    content: " \f107";
    font-family: FontAwesome;
    color: #fff;
}

.nav ul li.dropdown:after {
    position: absolute;
    left: 170px;
    font-family: FontAwesome;
    display: inline-block;
    color: #fff;
    margin-left: 10px;
    margin-top: 2px;
}
.nav > li.search {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    float: right;
    padding: 11px 6px;
    position: relative;
}

.nav > li.search:hover {
    background-color: transparent;
}


.nav > li input {
    padding: 7px 6px 6px 38px;
    margin: 0 5px;
    color: #fff;
    border: none;
    background-color: #16a085;
    font-size: 14px;
    border: 2px solid #16a085;
}

.nav > li input:focus {
    outline: none;
    border-color: white;
}

.nav > li.search i {
    position: absolute;
    left: 20px;
    top: 20px;
    color: #fff;
    font-size: 17px;
}

#wrap {
    width: 100%;
    height: 500px;
    margin-top: 100px;
}

div.polaroid {
    width: 150px;
    height: 150px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 10px;
    float: left;
}

div.text {
    text-align: center;
    padding: 20px 0px;
}
.text input {
    width: 100px;
    height: 40px;
    border-radius: 30px;
}
.bookdetail h1{
    font-size: 1.6em;
}
.bookdetail {
    width: 55%;
    position: absolute;
    margin-left: 180px;
}

/* 책 이미지 */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {
    opacity: 0.7;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 30%;
    max-width: 400px;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}
.search form{
    display: none;
}
.modal-content,
#caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0.1)
    }

    to {
        transform: scale(1)
    }
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}

/* 책 이미지끝 */

.n1 {
    font-family: 'NanumGothic', sans-serif;
    font-size: 10px;
    color: #777;
    line-height: 0%;
}

h1 {
    line-height: 0%;
}

#txt_info {
    margin-top: 40px;
    font-size: 12px;
    color: #c7c7c7;
}

.col {
    color: #c7c7c7;
}

#leb {
    color: #16a085;
    font-size: 14px;
}
#leb2{
    font-family: "Times New Roman";
    font-weight: bold;
    font-size: 23px;
    color: #1eb388;
    margin-right: 5px;
}

.bookcontent {
    width: 100%;
    list-style: none;
    border: 1.2px solid silver;
}

.bookcontent ul li {
    display: inline-block;
}

.bookcontent ul li a {
    font-family: "Times New Roman";
    font-weight: bold;
    color: #149;
    padding: 5px 0 0;
    font-size: 12.5px;
    font-weight: 00;
    height: 29px;
}

.bookcontent ul span {
    font-size: 1em;
    padding: 10px;
    color: silver;
}

.hd {
    height: 32px;
    position: relative;
    border-bottom: 2px solid #1a1a1a;
}

.desc {
    margin-top: 10px;
    padding: 10px;
    font-size: 13px;
    line-height: 1.8;
}

.desc h2 {
    font-size: 1.17em;
    color: #777;
}

.infos {
    margin-top: 30px;
}

.thumb {
    border: 1px solid #ddd;
    width: 98px;
    height: 120px;
    vertical-align: middle;
    float: left;
    margin-right: 20px;
}
.thumb img{
    width: 98px;
    height: 120px;
}
.info {
    padding-top: 3px;
}

.info h4 {
    font-size: 15px;
}

.info ul li {
    font-size: 13px;
    color: #777
}

#lala {
    border-bottom: 2px solid #1a1a1a;
}

.tablediv {
    width: 100%;

}

.tablediv table {
    border-collapse: collapse;
    border-spacing: 0px;
    border-color: grey;
    color: #777;
    line-height: 25px;
    font-size: 13px;
    width: 100%;
}

.tablediv table th {
    border-bottom: 1px solid #dbdbdb;
    text-align: center;
}

.tablediv tr {
    border-bottom: 1px solid #dbdbdb;
}

.tablediv table tbody td:nth-child(1) {
    text-align: center;
}

.subject {
    color: #4c4c4c;
    font-weight: 700;
    text-align: left;
}
.subject a{
    color: #4c4c4c;
}
.btn_white {
    display: inline-block;
    padding: 4px 18px;
    border: 1px solid #dedede;
    height: 17px;
    font-size: 12px;
    font-weight: 700;
    color: #999;
    line-height: 14px;
    margin-left: 3px;
    vertical-align: middle;
    text-decoration: none;
}

#cont {
    padding: 1px;
    border-radius: 10px;
    border: 1px solid #777;
    color: #777;
    float: right;
    font-size: 14px;
    height: 25px;
    text-align: center;
}

#wraps {
    width: 50%;
    position: absolute;
    margin-top: 150px;
    margin-left: 320px;
}
#wraps h1 {
    font-size: 14px;
    margin: 10px 0;
}
#wraps{
    margin-left: 200px;
    margin-top: 170px;
}
#wraps #banner {
    padding: 15px;
    border: 2px solid #ccc;
    border-radius: 10px;
}
#wraps #banner .vis_frame {
    width: 300px;
    height: 200px;
    overflow: hidden;
    position: relative;
    margin:  auto;
}

#wraps #banner .vis_frame ul {
    position: absolute;
    left: 0;
    top: 0;
    width: 750px;
    margin: 0 auto;
}
.imgset{
    border:none;
    overflow: hidden;
    text-align: center;
}
#wraps #banner .vis_frame ul li {
    width: 100%;
    float: left;
    padding: 0 8px;
}
#wraps #banner .vis_frame ul li img{
    width:194px; height: auto;
    border: 1px solid skyblue;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    display: block;
    /*margin-left: auto;
    margin-right: auto;*/
    /*margin: 0 auto;*/
}
#wraps #b_control {
    position: absolute;
    right: 0;
    margin: 10px;
    top: 5px;
}

#wraps #b_bt a.left {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    background-color: #000;
    position: absolute;
    right: 15px;
    top: 45%;
}

#wraps #b_bt a.right {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    background-color: #000;
    position: absolute;
    left: 15px;
    top: 45%;
}
.play img{
    width: 25px;
    height: 25px;
}
.stop img{
    width: 25px;
    height: 25px;
}
#wraps #pos {
    text-align: center;
    margin-top: 10px;
}

#wraps #pos span {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid #ccc;
    margin: 0 2px;
}
#wraps #pos span{
    border-radius: 50%;
}
#wraps #pos span.on {
    background: #16a085;
}

.top{
    position: fixed;
    width: 25px;
    height: 25px;
    right: 10%;
    bottom: 3%;
    padding: 5px;
    border: 1px solid #dbdbdb;
    border-radius: 50%;
}

.mainmanu{
    width: 80%;
    position: fixed;
    z-index: 1;
    top: 0px;
}
.txtq{
 width: 87%;
    top: 30px;
    padding: 10px;
}
.txtq input{
    display: none;
    width: 70%;
    height: 30px;
    border-radius:10px;
    position: absolute;
    border: 1px solid #dbdbdb;
}
#textimg{
    display: none;
    top: 2px;
    width: 30px;
    position: relative;
    float: right;
}
.txts{
    padding: 10px;
    margin-top: 30px;
}
.txts table{
    line-height: 25px;
    border-collapse: collapse;
    width: 90%
}
.thead td{
    vertical-align: middle;
    border-top: 3px dotted #dbdbdb;
}
.thead td:nth-child(1){
    text-align: center;
    width: 140px;
    font-size: 13px;
    color: #777;
}
.thead td:nth-child(2){
    color: #777;
    font-weight: 400;
    font-family: FontAwesome;
}
.container{
    margin-bottom: 70px;
}
/* footer */
footer {
    width: 100%;
    clear: both;
    padding: 10px;
    background-color: lightgray;
}
.footernav {
    margin: 0 auto;
    text-align: center;
}
.footernav ul li {
    display: inline-block;
    position: left;
    margin-right: 20px;
}

.footernav ul li a {
    margin-right: 20px;
    list-style: none;
    text-decoration: none;
    color: gray;
}
.gimg {
    width: 25px;
    position: relative;
    display: inline-block;
    margin-bottom: -8px;
    margin-right: -30px;
}
.footerp {
    color: gray;
    text-align: center;
}
.copy {
    text-align: center;
}
.login{
    position: fixed;
    width: 30px;
    height: 30px;
    right: 0%;
    bottom: 50.3%;
    padding: 5px;
    border: 1px solid #dbdbdb;
    border-radius: 50%;
}

.smile{
    position: fixed;
    width: 30px;
    height: 30px;
    right: 0%;
    bottom: 46.3%;
    padding: 5px;
    border: 1px solid #dbdbdb;
    border-radius: 50%;
}

.home{
    position: fixed;
    width: 30px;
    height: 30px;
    right: 0%;
    bottom: 54.3%;
    padding: 5px;
    border: 1px solid #dbdbdb;
    border-radius: 50%;
}
