/*베스트셀러 모바일 페이지*/

.cuspage {

    margin: 0 auto;
    width: 80%;

}

.cuspage .cus_h1 {
    margin: 20px;
     color:#16a085;
}

.cus3_1 h3 {
    margin: 18px 25px;
}

.cus1 {
    width: 80%;
    height: 180px;
    border: 3px double #16a085;
    border-radius: 10px;


}

.cus1 ul{
    list-style: none;
    font-size: 12.5px;
}

.cus1 h2 {
    color: black;
}

.cus1 #search1 {

    width: 50px;
}

.cus1 li h4 {

    display: inline-block;
    float: left;

}


.cus1 li a h4 {
     list-style: none;
    text-decoration: none;
    color: black;
    display: inline-block;
    float: left;


}

.cus2 h2 {
    margin: 10px 25px;
}

.cus2 p a {

    color: gray;
    margin: 0 25px;
    text-decoration: none;
}



.cus3 {
    width: 80%;

    border: 3px double #16a085;
    border-radius: 10px;


}




aside {
    display: none;
}

aside div {
    display: none;
}

aside h2 {
    display: none;

}

.book_img img {
    display: none;
}



.cus4 {
    width: 80%;

    border-radius: 10px;
    border: 3px double #16a085;

}

.cus4 ul input {
    padding: 25px;
    font-size: 1em;
}



.cus5 {
    width: 70%;

    float: left;
    border: 3px double #16a085;
    border-radius: 10px;
}

/*
.cus5 h3{

    margin: 50px 0px 0px 20px;
}
*/
.cus5 ul a {
    text-decoration: none;
    color: black;
    padding-bottom: 10px;
    display: block;
}





.cus3 ul a,
.cus4 ul a {
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
    display: block;
}




/*footer*/

footer {
    width: 100%;
    clear: both;
    padding: 10px;
    background-color: lightgray;

}


.footernav {
    margin: 0 auto;
    text-align: center;
}

.footernav ul li {
    display: inline-block;
    position: left;
    margin-right: 20px;


}

.footernav ul li a {

    margin-right: 20px;
    list-style: none;
    text-decoration: none;
    color: gray;

}

.gimg {
    width: 25px;
    position: relative;
    display: inline-block;
    margin-bottom: -8px;
    margin-right: -30px;

}

.footerp {
    color: gray;
    text-align: center;
}

.copy {
    text-align: center;
}
